body, nav {
    background-color:$gradient-shimmer;
    color: $white;
}

h1, h2 {
        color: $primary
}

h3 {
    color:$accent
}

.card{
    background-color: $dark;
    border-radius: 2px;
    overflow: hidden;
    max-width: 21rem; /* ← Limite à 21rem sur grands écrans */
    transition: transform 0.2s;
    cursor: pointer;
    transform: scale(1);
}

.card:hover {
    transform: scale(1.1);
}

